# Keys and Artifacts
build/
keys/
.env
proof_*.json
contracts/Verifier_*.sol
contracts/Verifier.sol

# Go
vendor/
go.work
*.bak

# Compiled Binaries
/relayer
/main
/setup

# Foundry
/out
/cache

# ZK/Debug
trace.txt
full_trace.txt
diagnostic_output.txt

# Misc
*.log
.DS_Store
last_eth_block.txt
.vscode/
.idea/
*.test
*.out
*.prof
node_modules/
bin/
